
a{
    color: white; 
    transition: 0.2s ease-in-out;
}
a:hover{
    text-decoration: none;
}

/*****************************/

/*HEADER*/
nav{
    background: rgb(240,206,86);
    background: linear-gradient(315deg, rgba(240,206,86,1) 0%, rgba(230,79,79,1) 100%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.brand-container{
    text-align: center;
    width: 100%;
}

.brand{
    color: white; 
    transition: 0.2s ease-in-out;
    
    
}

.brand:hover{
    color:#132743;
}

/*****************************/

/*FOOTER*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(240,206,86);
    background: linear-gradient(315deg, rgba(240,206,86,1) 0%, rgba(230,79,79,1) 100%);
    color: white;
    text-align: center;
    padding: .25rem;
    margin-top: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.leftControls{
    min-width: 20%;
    display: flex;
    align-content: center;
    align-items: center;
    flex: 1;
}
.mainControls{
    flex:10;
}
.rightControls{
    
    display: flex;
    flex:1;
    margin-left: 4rem; 
}

a:hover{
    color:#132743;
}



/*****************************/

/*MAIN PAGE*/
.container{
    text-align: center;

}

.post{
    align-items: center;
    
}

img{
    width: 75%;
    height: auto;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

img:hover{
    width:100%; 
}

/*****************************/

/*POST PAGE*/
.post-form{
    margin-top: 4rem;
}

input, textarea {
    width: 70%;
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
  }

/*****************************/

/*PROFILE PAGE*/
.content-section{
    margin-top: 4rem;
    
}


.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-img{
    width: 50%;
    
}

.account-img:hover{
    width:53%; 
}

.content-section a{
    color: #5bc0de;
}

