{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'post/main.css' %}">

    {% if title %}
        <title>Capture | {{ title }}</title>
    {% else %}
        <title>Capture</title>
    {% endif %}

    <style>
/*all css goes here for now*/

/*HEADER*/
nav{
    background: rgb(240,206,86);
    background: linear-gradient(315deg, rgba(240,206,86,1) 0%, rgba(230,79,79,1) 100%);
}
.brand-container{
    text-align: center;
    width: 100%;
}
.brand{
    color:white;  
}
/*****************************/

/*BODY*/
.container{
    text-align: center;
   
}

.post{
    align-items: center;
    
}

img{
    width: 75%;
    height: auto;
}



    </style>

</head>
<header>
    <nav class="navbar navbar-expand navbar-custom bg-custom">
        <div class="brand-container">
            <h1 class="brand">Capture</h1>
        </div>
        
      </nav>
      
</header>
<body>
    <div class="container">
        <!-- PAGE CONTENT WILL POPULATE HERE -->
        {% block content %}{% endblock %}
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

