{% extends "post/base.html" %}
{% block content %}

 
  
    <br>
    <div class="post single-post">
        <img class="single-profile-bubble" src="{{ object.user.profile.image.url }}">
        <h2 class="post-head">{{ object.user }}</h2>  
     
        <hr class="line">
        <br>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if liked %}
            
            <button type="submit" name="post_id" value="{{ post.id }}" class="starBTN">
            <svg class="filledStar" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                class="starBTN">
                <svg class="emptyStar" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                  </svg></button>
            {% endif %}
            - {{post.likes.count }} Likes

        </form>
        <br>
        <img class="single-post-pic" src="{{ object.content.url }}">
        <br>
        <h5>{{ object.post_date|date:"l, F d, Y | g:i A "  }}</h5>
        <p>{{ object.comment }}</p>
        <br>
        <h5>{{post.likes.count}}  Liked this! </h5>
        
        {% for user in postLikes %}
        <p>{{ user }}  <svg class="Star" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg></p>
        {% endfor %}

        <br>
        {% if user.id  ==  post.user.id%}
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="delete_btn" class="btn btn-outline-danger">Delete</button>
        </form>
        {% endif %}

     
    </div>
    <br id="bottom">
    <br>
    <br>
    

{% endblock content %}
