{% extends "post/base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <br><br><br><br><br><br><br>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Post a Picture</legend>
           
            <div class="form-group">
                <label for="content">Picture URL (temporary feature)</label>
                <input type="URL" class="form-control" id="content" placeholder="https://www.google.com/url">
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <input type="text" class="form-control" id="comment" aria-describedby="emailHelp" placeholder="Enter comment">
            </div>
              
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
   

{% endblock content %}