<style>
    /*all css goes here for now*/

    a{
        color: white;  
    }
    a:hover{
        color: white;
        text-decoration: none;
    }

    /*HEADER*/
    nav{
        background: rgb(240,206,86);
        background: linear-gradient(315deg, rgba(240,206,86,1) 0%, rgba(230,79,79,1) 100%);
    }
    .brand-container{
        text-align: center;
        width: 100%;
    }

    .brand{
        color: white;
    }
    
    /*****************************/

    /*BODY*/
    .container{
        text-align: center;
    
    }

    .post{
        align-items: center;
        
    }

    img{
        width: 75%;
        height: auto;
    }

    /*FOOTER*/
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(240,206,86);
        background: linear-gradient(315deg, rgba(240,206,86,1) 0%, rgba(230,79,79,1) 100%);
        color: white;
        text-align: center;
        padding: .25rem;
        margin-top: 1rem;
    }


</style>