{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
          <div class="media-body">
            <h2>{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
      </div>
      <div>
            <img class="account-img" src="{{ user.profile.image.url }}">
      </div>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      <br>
      <hr>
      <br>
      <h3>Change Profile Picture</h3>
      <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        <fieldset class="form-group">
          
            <div class="form-group">
                
                {{ form }}
            </div>
           
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" name="postButton"  type="submit" value="Post" >Update</button>
        </div>
    </form>
    </div>
    <br><br>
{% endblock content %}